@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(Files/cool-background.png);
    background-size:100;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0; 
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: auto;
}



.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.title h1{
    font-size: 80px;
    color:white;
}

.title h2 {
    font-size: 30px;
}

#typewrite,
#cursor {
    display: inline-block;
    margin: 0; 
}

#typewrite {
    color: rgb(255, 255, 255);
    display: inline;
    margin-right: 0px;
}

#cursor {
    color: black;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.container {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff; 
    padding: 1rem;
    width: 40%;
    margin: 1rem auto;
    border-radius: 1rem;
    -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5rem;
}

input::placeholder {
    color: #fff;
}


.weather__search {
    position: relative;
}

.weather__search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.weather__units {
    font-size: 1.5rem;
}

.weather__units span {
    cursor: pointer;
}

.weather__units span:first-child {
    margin-right: 0.5rem;
}

.weather__unit_selected {
    color: #FF5733; 
}

.weather__body {
    text-align: center;
    margin-top: 3rem;
}

.weather__datetime {
    margin-bottom: 1rem;
    font-size: 14px;
}

.weather__forecast {
    background: #1e1e1e;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.weather__icon img {
    width: 150px;
}

.weather__temperature {
    font-size: 2rem;
}

.weather__info {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
}

.weather__card {
    display: flex;
    align-items: center;
    background: #1e1e1e;
    width: 10rem;
    height: 5rem;
    border-radius: 10px;
}

.weather__card i {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.weather__card p {
    font-size: 14px;
}

footer{
    text-align: right;
    margin-right: 1rem;
    color: #000000;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}


.foot a{
    text-decoration: none;
    color: aqua;
}

@media(max-width: 936px){
    .container {
        width: 80%;
    }

    .weather__header {
        flex-direction: column;
    }

    .weather__units {
        margin-top: 1rem;
    }
}


@media(max-width: 426px){
    .title h1{
        font-size: 40px;
    }

    .title h2{ 
        font-size: 20px;
    }
    
    .weather__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 18%;
    }

    footer{
        text-align: center;
    }


}
